<section class="subpage-header" id="subpage-header">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="header">
          <h1>News</h1>
        </div>
      </div>
    </div><!-- end of row -->
  </div><!-- end of container -->
</section><!-- end of section -->

<%#<section class="news-item">%>
  <%#<div class="container">%>
    <%#<div class="row">%>
      <%#<div class="twelve columns">%>
        <%#<p class="published-date">11/05/2016</p>%>
        <%#<h2>Example news item</h2>%>
        <%#<p>Some interesting news....</p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>[> end of container <]%>
<%#</section>[> end of section <]%>
