---
title: News
---

%section.subpage-header#subpage-header
  .container
    .row
      .eight.columns
        .header
          %h1 News

%section.new-item
  .container
    .row
      .twelve.columns
        %p.published-date 4/07/2016
        %h2 Summer Archaeology Dig at Hillsborough Castle
        .row
          .six.columns
            %p Have you ever wanted to take part in an archaeological excavation?  Well, this is your chance, NAC are pleased to announce that we will be working with the Historic Royal Palace team at Hillsborough Castle, County Down, this summer running an archaeological excavation that members of the public can register to take part in.
            %p Families can register to volunteer, each session will last for 1 hour &amp; 30 minutes, children must be 6 years of age or older and an adult much accompany the child / children on the excavation, there will also be other activities taking place over the weekend. The family sessions and the public open days will take place on Friday 29th, Saturday 30th and Sunday 31st July 2016, see the website link below for further details. Those volunteering will get free access to the gardens.
            %p Between Tuesday 2nd and Saturday 6th August 2016, those aged 18 and over can also register to volunteer on the excavation, there will be a morning and afternoon session with each lasting 3 hours.
            %p 
              The excavation sessions will be free, however there are limited places so register your interest now on the Hillsborough Castle website
              = link_to "here.", "http://www.hrp.org.uk/hillsborough-castle/whats-on/summer-archaeology-dig-2016/#gs.YcWGOVs", { target: "_blank" }
          .six.columns
            = image_tag "hlbarchaeologysummer2016.jpg", { style: "width: 100%" }
